<nav id="breadCrumbContainer" hx-swap-oob="true">
    <span class="text-black pointer"
        title="ALL DATABASES"
        hx-get="hxList.html" 
        hx-target="#mainContentContainer" 
        hx-swap="innerHTML" 
        hx-trigger="click">
        <i class="bi bi-house"></i>
        HOME
    </span>
    <em>|</em>
    <span title="COLLECTIONS">
        <i class="bi bi-database"></i>
        DATABASE PORTAL: <span id="sDataBaseName" class="dbName badge text-bg-primary text-uppercase fst-italic "></span>
    </span>
</nav>

<div class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-header bg-primary text-white fw-bold">
                COLLECTIONS FOR DATABASE:  <span class="text-uppercase fst-italic dbName"></span>
            </div>
            <div id="listCollectionsContainer" class="list-group list-group-flush"></div>
        </div>
    </div>
    <div class="col-3">
        <nav class="list-group">
            <span class="list-group-item pointer"
                hx-get="hxCollectionProfile.html" 
                hx-target="#mainContentContainer"
                hx-swap="innerHTML" 
                hx-trigger="click">
                <i class="bi bi-plus-square-fill"></i>
                ADD COLLECTION TO <span id="sDataBaseName" class="dbName text-uppercase fst-italic "></span>
            </span>
            <span id="deleteDatabaseButton" 
                class="list-group-item pointer list-group-item-danger"
                data-action="deleteDatabase">
                <i class="bi bi-trash"></i>
                DELETE DATATBASE <span id="sDataBaseName" class="dbName text-uppercase fst-italic "></span>
            </span>
        </nav>
    </div>
</div>